* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

a {
    color:#E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

button {
    font-size: 18px;
    color: white;
    background-color: #3882f6;
    border: solid transparent;
    border-radius: 12px;
    padding: 5px 18px;
    flex-shrink: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 30px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
    color:#E5E7EB;
    padding: 0px 16px;
}



.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header .left-links {
    display: flex;
    gap: 64px;
}

.hero .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    margin-bottom: 16px;
}

.hero .image {
    height: 240px;
    width: 540px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.hero {
    padding: 100px;
}

.hero .container {
    display: flex;
    justify-content: space-between;
}

.hero .container .sub-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 12px;
}

.information .info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 64px;
}

.information .cards {
    display: flex;
    justify-content: space-evenly;
    gap: 28px;
    
}
.information .card-image {
    flex-shrink: 0;
    height: 200px;
    width: 200px;
    border: 6px solid #3882f6;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.information .card {
    max-width: 200px;
    text-align: center;
}

.information .card .text {
    margin-top: 15px;
    margin-bottom: 115px;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-section .quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    max-width: 940px;
}

.quote-section .quote-by {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    margin-right: 144px;
}

.quote-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.last-box .container {
    padding: 100px;
}

.box {
    padding: 50px 144px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
}

.box button {
    flex-shrink: 0;
    font-size: 18px;
    color: white;
    background-color: #3882f6;
    border: 3px solid #F9FAF8;
    border-radius: 12px;
    padding: 6px 32px;
}

.box p {
    color: #E5E7EB;
}